<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="[PDE]-MarketPlace"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Pantalla principal -->
        <activity android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras Activities -->
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".ui.ProductDetailActivity" />
        <activity android:name=".ui.CartActivity" />
        <activity android:name=".ui.OrdersActivity" />
        <activity android:name=".ui.AccountActivity" />
        <activity android:name=".ui.TechnicianActivity" />
        <activity android:name=".ui.CreateProductActivity" />
        <activity android:name=".ui.TechnicianIncidentsActivity" />
        <activity android:name=".ui.TechnicianProfileActivity" />



    </application>

</manifest>
